// Global styles goes here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

// root style
:root.light {
  --primary-bg-color: white;
  --secondary-bg-color: rgb(160, 173, 177);
  --primary-color: #343a40;
  --secondary-color: grey;
  --border: #dfe8f1;
}
:root.dark {
  --primary-bg-color: #101321;
  --secondary-bg-color: black;
  --primary-color: rgb(204, 204, 204);
  --secondary-color: rgb(170, 170, 170);
  --border: #6c757d;
}
.color-primary {
  color: var(--primary-color);
}
.color-secondary {
  color: var(--secondary-color);
}
#app {
  height: inherit;
  color: var(--color);
}
.main_section {
  background-color: var(--primary-bg-color);
}

.cp {
  cursor: pointer;
}
.icon {
  cursor: pointer;
}
.theme-p {
  padding: 20px;
}
.header_height {
  height: 55px;
  border-bottom: 1px solid var(--border);
}
.b-primary {
  border: 1px solid var(--border);
}
.bb-primary {
  border-bottom: 1px solid var(--border);
}
