// Global styles goes here
* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
  height: 100%;
}
// root style
:root.light {
  --primary-bg-color: white;
  --secondary-bg-color: rgb(160, 173, 177);
  --primary-color: #343a40;
  --secondary-color: grey;
  --border: 2px solid #dfe8f1;
  --border-head: #dfe8f1;
}
:root.dark {
  --primary-bg-color: #101422;
  // #101321;
  --secondary-bg-color: black;
  --primary-color: rgb(204, 204, 204);
  --secondary-color: rgb(170, 170, 170);
  --border: 2px solid #363947;
  --border-head: #363947;
}
.color-primary {
  color: var(--primary-color);
}
.color-secondary {
  color: var(--secondary-color);
}
#app {
  overflow: hidden;
  height: 100%;
  // width: 100%;
  color: var(--color);
}
.main_section {
  background-color: var(--primary-bg-color);
}

.cp {
  cursor: pointer;
}
.icon {
  cursor: pointer;
}
.theme-p {
  padding: 20px;
}
.header_height {
  height: 55px;
  border-bottom: 2px solid var(--border-head);
}
.background-secondary {
  background-color: var(--secondary-bg-color);
}
.b-primary {
  border: var(--border);
}
.bb-primary {
  border-bottom: var(--border);
}
.bb-h-primary {
  border-bottom: 2px solid var(--border-head);
}
.bt-pr y {
  border-top: var(--border);
}
.bs-primary {
  border-left: var(--border);
}
.be-primary {
  border-right: var(--border);
}
a.active {
  border: 2px solid #6acb6d;
  color: var(--primary-color);
}
