// All the SCSS placeholders goes here
%bg-image-properties {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
%flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
%bb-primary {
  border-bottom: var(--border);
}
%bt-primary {
  border-top: var(--border);
}
%bs-primary {
  border-left: var(--border);
}
%be-primary {
  border-right: var(--border);
}
%b-primary {
  border: var(--border);
}
