#sidebar {
  .sidebar {
    width: 60px;
  }
  background-color: var(--secondary-bg-color);
  .logo {
    height: 35px;
    width: 35px;
    color: var(--primary-color);
    border: var(--border);
  }
  span {
    color: var(--primary-color);
  }
  .brand_wrapper {
    border-bottom: 2px solid var(--border-head);
  }
  .profile-wrapper {
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }

  li {
    width: 100%;

    a {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      width: 100%;
    }
  }
}
